*{
    margin:0em;
    padding:oem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    background-color:aliceblue;
    color:black;
    justify-content: center;
    align-items: center;
    
}

section{
    padding-top: 5em;

}
fieldset{
    padding:3em;
    display: grid;
    grid-template-columns: auto auto;
}

legend{
    font-size: 2em;
}

label{
    margin:1em;
    text-align: start;
}

input{
    margin:1em;
    width: 15em;
    height: 2em;
    border:none;
    border-bottom-style: solid;
    border-bottom-width:0.1em;
    background:transparent;
    outline-color:aqua;
}

input:valid{
    border-bottom-color:green;
}

input:invalid{
    border-bottom-color:red;
}

textarea{
    width:15em;
    height: 5em;
    margin:1em;
    outline-color:aqua;
    border-bottom-style: solid;
    border-bottom-width:0.1em;
    background: transparent;
}
button{
    border:none;
    color:white;
    background-color: rgb(19, 19, 31);
    border-radius: 0.5em;
    padding: 0.5em;
    cursor: pointer;
    margin:1em;
    width: 7em;
}

button:hover{
    background-color: rgb(71, 71, 99);
}
footer{
    background-color:  aliceblue;
    color:black;
    text-align: center;
    padding-top:4em;
    padding-left:1em;
    padding-right:1em;
    padding-bottom:4em;
}

footer ol {
    display: flex;
    justify-content: center;

}

footer ol li {
    padding:1em;
    list-style-type:none;
}

.footer-image{
    width: 2em;
    height: 2em;
}